{% extends './base.html' %}
{% load static %}
{% load i18n %}


{% block body %}


  {% block content %} {% endblock %}

    <!-- Footer -->
    <!-- Footer-->
<!-- Footer-->
<footer class="bg-dark text-white">
    <!-- Réseaux Sociaux-->
    <div class="bg-light py-4">
        <div class="container d-flex justify-content-center align-items-center py-2">
            <p class="lead fw-bolder mb-0 lh-1 text-dark">{% trans 'Restez connecté' %}</p>
            <ul class="list-unstyled d-flex justify-content-start align-items-center mb-0 ms-3 lh-1">
                <li class="mx-1 mb-0 lh-1"><a class="text-muted text-decoration-none opacity-75-hover transition-all lh-1" href="#"><i class="ri-instagram-fill ri-xl lh-1"></i></a></li>
                <li class="mx-1 mb-0 lh-1"><a class="text-muted text-decoration-none opacity-75-hover transition-all lh-1" href="#"><i class="ri-facebook-fill ri-xl lh-1"></i></a></li>
                <li class="mx-1 mb-0 lh-1"><a class="text-muted text-decoration-none opacity-75-hover transition-all lh-1" href="#"><i class="ri-twitter-fill ri-xl lh-1"></i></a></li>
                <li class="mx-1 mb-0 lh-1"><a class="text-muted text-decoration-none opacity-75-hover transition-all lh-1" href="#"><i class="ri-linkedin-fill ri-xl lh-1"></i></a></li>
            </ul>
        </div>
    </div>
    <!-- / Réseaux Sociaux-->

    <!-- Barre d'Informations-->
    <div class="container mt-7">
        <div class="row">

            <!-- Boîte d'Info-->
            <div class="col-12 col-md-4 mb-3 mb-xxl-0 text-white aos-init aos-animate" data-aos="fade-left">
                <div class="border-white-opacity border-2 p-4 d-flex flex-column flex-lg-row justify-content-start align-items-start h-100">
                    <i class="ri-home-line ri-lg mb-3 mb-lg-0"></i>
                    <div class="ms-lg-4">
                        <p class="mb-1 lh-1 fw-bold">{% trans 'Trouvez la maison de vos rêves' %}</p>
                        <small class="text-muted">{% trans 'Parcourez nos annonces pour trouver la propriété parfaite pour vous.' %}</small>
                    </div>
                </div>
            </div>
            <!-- / Boîte d'Info-->

            <!-- Boîte d'Info-->
            <div class="col-12 col-md-4 mb-3 mb-xxl-0 text-white aos-init aos-animate" data-aos="fade-left" data-aos-delay="250">
                <div class="border-white-opacity border-2 p-4 d-flex flex-column flex-lg-row justify-content-start align-items-start h-100">
                    <i class="ri-chat-3-line ri-lg mb-3 mb-lg-0"></i>
                    <div class="ms-lg-4">
                        <p class="mb-1 lh-1 fw-bold">{% trans 'Support client' %}</p>
                        <small class="text-muted">{% trans 'Contactez notre équipe pour obtenir de l\'aide ou des informations.' %}</small>
                    </div>
                </div>
            </div>
            <!-- / Boîte d'Info-->

            <!-- Boîte d'Info-->
            <div class="col-12 col-md-4 mb-3 mb-xxl-0 text-white aos-init aos-animate" data-aos="fade-left" data-aos-delay="500">
                <div class="border-white-opacity border-2 p-4 d-flex flex-column flex-lg-row justify-content-start align-items-start h-100">
                    <i class="ri-shield-star-line ri-lg mb-3 mb-lg-0"></i>
                    <div class="ms-lg-4">
                        <p class="mb-1 lh-1 fw-bold">{% trans 'Professionnels de confiance' %}</p>
                        <small class="text-muted">{% trans 'Travaillez avec des agents expérimentés dédiés à votre satisfaction.' %}</small>
                    </div>
                </div>
            </div>
            <!-- / Boîte d'Info-->

        </div>
    </div>
    <!-- / Barre d'Informations-->


    <!-- Menus & Newsletter-->
 <div class="border-top-white-opacity py-7 mt-7 text-white">
        <div class="container aos-init aos-animate" data-aos="fade-in">
            <div class="row my-4 flex-wrap">

                <!-- Navigation-->
                <nav class="col-6 col-md mb-4 mb-md-0">
                    <h6 class="mb-4 fw-bolder fs-6">{% trans 'Liens rapides' %}</h6>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all" href="#">{% trans 'Rechercher des propriétés' %}</a></li>
                        <li class="mb-2"><a class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all" href="#">{% trans 'Vendez votre maison' %}</a></li>
                        <li class="mb-2"><a class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all" href="#">{% trans 'Locations' %}</a></li>
                        <li class="mb-2"><a class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all" href="#">{% trans 'Contactez-nous' %}</a></li>
                    </ul>
                </nav>
                <!-- / Navigation-->

                <!-- Navigation-->
                <nav class="col-6 col-md mb-4 mb-md-0">
                    <h6 class="mb-4 fw-bolder fs-6">{% trans 'Ressources' %}</h6>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all" href="#">{% trans 'Évaluation immobilière' %}</a></li>
                        <li class="mb-2"><a class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all" href="#">{% trans 'Guides de quartier' %}</a></li>
                        <li class="mb-2"><a class="text-decoration-none text-white opacity-75 opacity-25-hover transition-all" href="#">{% trans 'Blog immobilier' %}</a></li>
                    </ul>
                </nav>
                <!-- / Navigation-->

                <!-- Contact-->
                <div class="col-12 col-md-5">
                    <h6 class="mb-4 fw-bolder fs-6">{% trans 'Abonnez-vous à notre newsletter' %}</h6>
                    <p class="opacity-75">{% trans 'Restez informé des dernières nouvelles et des annonces immobilières.' %}</p>
                    <form class="bg-white d-flex justify-content-start align-items-center border-dark-focus-within transition-all mt
                    <form class="bg-white d-flex justify-content-start align-items-center border-dark-focus-within transition-all mt-4">
                    <div class="input-group m-0">
                        <input type="email" class="form-control d-flex flex-grow-1 border-0 bg-transparent py-3" placeholder="{% trans 'Entrez votre email' %}" aria-label="{% trans 'Entrez votre email' %}">
                        <span class="input-group-text bg-transparent border-0"><i class="ri-arrow-right-line align-middle"></i></span>
                    </div>
                    </form>
                </div>
                <!-- / Contact-->
            </div>
        </div>
    </div>
</footer>
<!-- / Footer-->
  <!-- Offcanvas Imports-->
<!-- ContactUs Offcanvas-->
<div class="offcanvas offcanvas-end d-none" tabindex="-1" id="offcanvasCart">
  <div class="offcanvas-header d-flex align-items-center">
    <h5 class="offcanvas-title" id="offcanvasCartLabel">{% trans 'Contactez-nous' %}</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="{% trans 'Fermer' %}"></button>
  </div>
  <div class="offcanvas-body">
    <div class="d-flex flex-column justify-content-between w-100 h-100">
      <div class="w-100">
        <form id="contactAgent">    <!-- Checkout Panel Contact -->
          <div class="checkout-panel">
            <h5 class="title-checkout">{% trans 'Informations de contact' %}</h5>
            <div class="row">

              <!-- Email-->
              <div class="col-12">
                <div class="form-group">
                  <label for="email" class="form-label">{% trans 'Email' %}</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="{% trans 'vous@exemple.com' %}">
                </div>

                <!-- Mailing List Signup-->
                <div class="form-group form-check m-0">
                  <input type="checkbox" class="form-check-input" id="add-mailinglist" checked="">
                  <label class="form-check-label" for="add-mailinglist">{% trans 'Gardez-moi informé de vos dernières nouvelles et offres' %}</label>
                </div>
              </div>
            </div>
          </div>


          <!-- /Checkout Panel Contact -->                    <!-- Checkout Shipping Address -->
          <div class="checkout-panel">
            <div class="row">


              <!-- Last Name-->
              <div class="col-12">
                <div class="form-group">
                  <label for="Name" class="form-label">{% trans 'Nom' %}</label>
                  <input type="text" class="form-control" id="Name" name="name">
                </div>
              </div>

              <!-- phone-->
              <div class="col-12">
                <div class="form-group">
                  <label for="phone" class="form-label">{% trans 'téléphone' %}</label>
                  <input name="phone_number" id="phone" class="form-control" required="" placeholder="" type="phone">
                </div>
              </div>

              {% block subject %}{% endblock %}

              <div class="col-md-6">
                <div class="form-group">
                  <label for="message" class="form-label">{% trans 'message' %}</label>
                  <textarea type="text" name="message" class="form-control" id="message" placeholder="" required=""></textarea>
                </div>
              </div>
            </div>


          </div>
        <div class="border-top pt-3">
          <button  class="btn btn-orange btn-orange-chunky mt-5 mb-2 w-100 d-block text-center" type="submit" name="submit">{% trans 'Envoyer' %}</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Filters Offcanvas-->





 <div class="offcanvas offcanvas-end d-none" tabindex="-1" id="offcanvasReview">
      <div class="offcanvas-header d-flex align-items-center">
        <h5 class="offcanvas-title" id="offcanvasReviewLabel">Leave A Review</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <!-- Review Form -->
        <form>
          <div class="form-group mb-3 mt-2">
            <label class="form-label" for="formReviewName">Your Name</label>
            <input type="text" class="form-control" id="formReviewName" placeholder="Your Name">
          </div>
          <div class="form-group mb-3 mt-2">
            <label class="form-label" for="formReviewEmail">Your Email</label>
            <input type="text" class="form-control" id="formReviewEmail" placeholder="Your Email">
          </div>
          <div class="form-group mb-3 mt-2">
            <label class="form-label" for="formReviewTitle">Your Review Title</label>
            <input type="text" class="form-control" id="formReviewTitle" placeholder="Review Title">
          </div>
          <div class="form-group mb-3 mt-2">
            <label class="form-label" for="formReviewReview">Your Review</label>
            <textarea class="form-control" name="formReviewReview" id="formReviewReview" cols="30" rows="5"
              placeholder="Your Review"></textarea>
          </div>
          <button type="submit" class="btn btn-dark hover-lift hover-boxshadow">Submit Review</button>
        </form>
        <!-- / Review Form-->
      </div>
    </div>



<!-- Search Overlay-->
<section class="search-overlay">
    <div class="container search-container">
        <div class="py-5">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead lh-1 m-0 fw-bold">{% trans 'Que cherchez-vous ?' %}</p>
                <button class="btn btn-light btn-close-search"><i class="ri-close-circle-line align-bottom"></i> {% trans 'Fermer la recherche' %}</button>
            </div>
            <form>
                <input type="text" class="form-control" id="searchForm" placeholder="{% trans 'Recherche par emplacement ...' %}">
            </form>
            <div class="my-5">

                <div class="row" id="property">

                </div>
            </div>

            <div class="bg-dark p-4 text-white">
                <p class="lead m-0">{% blocktrans %}Vous n'avez pas trouvé ce que vous cherchez ? <a class="transition-all opacity-50-hover text-white text-link-border border-white pb-1 border-2" href="#">Envoyez-nous un message.</a>{% endblocktrans %}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
<script>
    // Initialize Swiper only on phone screens
    if (window.innerWidth < 768) {
        var swiper = new Swiper('#swiper-container', {
            slidesPerView: 'auto',
            spaceBetween: 20,
        });
    }
</script>
<!--
fetching wilaya
-->
<script>

    document.addEventListener('DOMContentLoaded', function() {
        var buttons = document.querySelectorAll('.btn-select');
        var statusInput = document.getElementById('status-input');

        buttons.forEach(function(button) {
            button.addEventListener('click', function() {
                buttons.forEach(function(btn) {
                    btn.classList.remove('active');
                });
                button.classList.add('active');
                statusInput.value = button.getAttribute('data-value');
            });
        });
    });
</script>



{% endblock %}