{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="{% static 'favicon.ico'%}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="aures real estate"
    />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png'%}">
    <link rel="stylesheet" href=" {% static 'fonts/flaticon/font/flaticon.css'%} ">
    <link rel="stylesheet" href="  {% static 'fonts/icomoon/style.css'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png'%}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg'%}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static 'css/libs.bundle.css'%}" />
    <!-- Leaflet CSS -->
    <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
            integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
            crossorigin=""
    />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'css/theme.bundle.css'%}" />
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery/dist/css/lightgallery.min.css">
    <!-- Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Fix for custom scrollbar if JS is disabled-->
    <noscript>
        <style>

          /**
          * Reinstate scrolling for non-JS clients
          */
          .simplebar-content-wrapper {
            overflow: auto;
          }


        </style>

    </noscript>
    <script>

      var swiper = new Swiper('.swiper-container', {
        slidesPerView: 'auto', // Number of slides per view
        spaceBetween: 20, // Space between slides
        loop: true, // Enable loop mode
        autoplay: {
          delay: 5000, // Delay between slides in milliseconds
          disableOnInteraction: false, // Continue autoplay even when user interacts with slider
        },
        breakpoints: {
          // Add breakpoints for responsive behavior
          768: {
            slidesPerView: 2, // Number of slides per view on tablets
          },
          992: {
            slidesPerView: 3, // Number of slides per view on laptops/desktops
          },
        }
      });

    </script>
    <style>
      /* Loader CSS */
      .loader-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;

      }

      .loader {
        border: 16px solid #f3f3f3;
        border-top: 16px solid #3498db;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
      }

      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

      /* Hide the loader when JavaScript is disabled */
      .no-js .loader-overlay .loader {
        display: none;
      }
      .custom-icon {
        background-color: white;
        border-radius: 40%;
        padding: 15px; /* Adjust padding as needed */
        transition: transform 0.3s, background-color 0.3s;
      }

      .custom-icon:hover {
        background-color: orange;
        transform: scale(1.1);
      }

      @media (max-width: 576px) {
        .custom-icon {
          width: 80px; /* Adjust size for smaller screens */
          height: 80px; /* Adjust size for smaller screens */
        }
      }
      #whatsapp-icon {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1000;
        width: 60px;
        height: 60px;
      }

      #whatsapp-icon img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    </style>
    <!-- Page Title -->
    <title>Aures | REAL ESTATE</title>
  </head>
  <body>

  <div id="loader-overlay" class="loader-overlay">
    <div class="loader"></div>
  </div>

  {% block body %} {% endblock %}

  <script>
    window.addEventListener('load', function() {
      document.getElementById('loader-overlay').style.display = 'none';
    });
  </script>
    <!-- Theme JS -->
    <!-- Vendor JS -->
    <script src="{% static 'js/vendor.bundle.js'%}"></script>

    <!-- Theme JS -->
    <script src="{% static 'js/theme.bundle.js'%}"></script>
<!--contact us script-->
<script>

        document.getElementById('contactAgent').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission

            // Gather form data
            const formData = new FormData(this);

            // If you want to include additional data not visible on the form
            formData.append('additionalField', 'additionalValue');

            // Convert form data to JSON
            const jsonData = {};
            formData.forEach((value, key) => {
                jsonData[key] = value;
            });
            console.log(jsonData);

            // Make a POST request to your API
            fetch('http://127.0.0.1:8000/api/v1/enquiries/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonData)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('API response:', data);
                // Handle API response here
            })
            .catch(error => {
                console.error('There was a problem with your fetch operation:', error);
                // Handle errors here
            });
        });
    </script>
  <script>
    function changeColor(radioButton) {
    const svgIcon = radioButton.parentElement;
    if (radioButton.checked) {
      svgIcon.style.backgroundColor = "#fc6229";
      svgIcon.style.color = "black"
    } else {
      svgIcon.style.backgroundColor = ""; // Reset color when unchecked
    }

    // Get all radio buttons with the same name
    const radioButtons = document.querySelectorAll(`input[type="radio"][name="${radioButton.name}"]`);

    // Loop through radio buttons and set background color of their siblings (svg icons) to white
    radioButtons.forEach(button => {
      const siblingIcon = button.parentElement;
      if (button !== radioButton) { // Exclude the checked radio button
        siblingIcon.style.backgroundColor = "white";
      }
    });
  }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiperIcons = new Swiper(".swiperIcons", {
      slidesPerView: 3,
      spaceBetween: 10,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      breakpoints: {
        640: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 4,
          spaceBetween: 40,
        },
        1024: {
          slidesPerView: 5,
          spaceBetween: 50,
        },
      },
    });
  </script>
  <script>
    function openModal() {
        var modal = document.getElementById('allPhotosModal');
        modal.classList.add('show');
        modal.style.display = 'block';
        document.body.classList.add('modal-open');
        var backdrop = document.createElement('div');
        backdrop.classList.add('modal-backdrop', 'fade', 'show');
        document.body.appendChild(backdrop);

        // Initialize Swiper

    }

    function closeModal() {
        var modal = document.getElementById('allPhotosModal');
        modal.classList.remove('show');
        modal.style.display = 'none';
        document.body.classList.remove('modal-open');
        var backdrop = document.querySelector('.modal-backdrop');
        backdrop.parentNode.removeChild(backdrop);
    }



</script>
<script src="https://cdn.jsdelivr.net/npm/lightgallery/dist/js/lightgallery.min.js"></script>


  <!-- Leaflet JavaScript -->
  <script
          src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
          integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
          crossorigin=""
  ></script>

  <!-- Initialize Leaflet Map -->
  <script>
    // Initialize and add the map
    function initMap() {
      // The location of your business
      const businessLocation = [35.697494095452626, -0.5895644190306065];
      // Create the map centered at your business location
      const map = L.map("map").setView(businessLocation, 15);
      // Add the OpenStreetMap tile layer
      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        maxZoom: 19,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
      }).addTo(map);
      // Add a marker at your business location
      L.marker(businessLocation).addTo(map);
    }
    // Call the initMap function when the page is loaded
    window.onload = initMap;
  </script>

<script>
  function getPropertyHTML(item) {
  return `
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
    <div class="card card-listing hover-trigger card-hover border">
      <img src="${item.cover_photo}" class="card-img-top" style="object-fit: cover; height: 200px;" alt="Property Image">
      <div class="position-absolute top-5 start-7 translate-middle badge bg-dark p-2">${item.advert_type}</div>
      <div class="card-body">
        <h5 class="card-title">${item.title}</h5>
        <p class="card-text">${item.street_address}, ${item.city}</p>
        <p class="card-text"><small class="text-dark">Price: ${item.price}</small></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Bedrooms <span class="badge bg-dark">${item.bedrooms}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Bathrooms <span class="badge bg-dark">${item.bathrooms}</span>
        </li>
      </ul>
      <div class="card-body">
        <a href="http://127.0.0.1:8000/property/${item.slug}" class="btn btn-orange rounded-pill py-2 px-3">See Details</a>
      </div>
    </div>
  </div>
  `;
  }

  function fetchData(cityName) {
  fetch(`http://127.0.0.1:8000/api/v1/properties/all/?city=${cityName}`)
  .then(response => response.json())
  .then(data => {
  const propertyContainer = document.getElementById('property');
  propertyContainer.innerHTML = ''; // Clear previous results

  // Check if 'results' key exists and it's an array
  if (data.results && Array.isArray(data.results)) {
  // Iterate through the fetched data.results array and create HTML elements using getPropertyHTML function
  data.results.forEach(property => {
  const propertyHTML = getPropertyHTML(property);
  propertyContainer.innerHTML += propertyHTML;
  });
  } else {
  // If 'results' key doesn't exist or it's not an array, log an error message
  console.error('Invalid data format:', data);
  }
  })
  .catch(error => console.error('Error fetching data:', error));
  }

  document.addEventListener('DOMContentLoaded', () => {
  const searchForm = document.getElementById('searchForm');
  searchForm.addEventListener('input', event => {
  const cityName = event.target.value.trim();
  const propertyContainer = document.getElementById('property');
  // Check if the search input is empty
  if (cityName) {
  fetchData(cityName);
  } else {
  // Clear the property container when the search input is empty
  propertyContainer.innerHTML = '';
  }
  });
  });
  </script>


  {% block scripts %} {% endblock %}
  </body>


</html>