{% extends './baseindex.html' %}
{% load static %}
{% load i18n %}
{% block title %}{{ _('Agence Immobilière à Oran') }}{% endblock %}
{% block content %}
<div id="loader-overlay" class="loader-overlay">
    <div class="loader"></div>
</div>
<!-- Navbar -->
<div class="position-relative z-index-30">
   <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white flex-column border-0 position-absolute w-100 z-index-30">
    <div class="w-100 ">
        <div class="container-fluid d-flex justify-content-between align-items-center flex-wrap">
            <!-- Language Selector -->
            <div class="w-100 d-flex justify-content-end  ">
                <form method="get" action="{% url 'website:set_language' %}" class="d-flex">
                    <button class="btn btn-link p-0 mx-1" type="submit" name="language" value="en" {% if LANGUAGE_CODE == 'en' %}disabled{% endif %}>
                        <img src="{% static 'flags/us.gif' %}" alt="English" style="width: 15px; height: 15px;"><span> EN </span>  |
                    </button>
                    <button class="btn btn-link p-0 mx-1" type="submit" name="language" value="fr" {% if LANGUAGE_CODE == 'fr' %}disabled{% endif %}>
                        <img src="{% static 'flags/fr.gif' %}" alt="Français" style="width: 15px; height: 15px;"> <span> FR </span> |
                    </button>
                    <button class="btn btn-link p-0 mx-1" type="submit" name="language" value="ar" {% if LANGUAGE_CODE == 'ar' %}disabled{% endif %}>
                        <img src="{% static 'flags/dz.gif' %}" alt="العربية" style="width: 15px; height: 15px;"><span> AR</span>
                    </button>
                </form>
            </div>
            <!-- / Language Selector -->

            <!-- Logo-->
            <a class="navbar-brand fw-bold fs-3 m-0 p-0 flex-shrink-0" href="{% url 'website:index' %}">
                <!-- Start of Logo-->
                <div class="d-flex align-items-center">
                    <div class="f-w-20 d-flex align-items-center me-2 lh-1">
                        <!-- SVG Logo Here -->
                        logo
                    </div>
                    <span class="fs-5"></span>
                </div>
                <!-- / Logo-->
            </a>
            <!-- / Logo-->

            <!-- Main Navigation-->
            <div class="ms-5 flex-shrink-0 navbar-collapse navbar-collapse-light w-auto flex-grow-1 collapse" id="navbarNavDropdown">
                <!-- Mobile Nav Toggler-->
                <button class="btn btn-link px-2 text-decoration-none navbar-toggler border-0 position-absolute top-0 end-0 mt-3 me-2 collapsed" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="{% trans 'Toggle navigation' %}">
                    <i class="ri-close-circle-line ri-2x"></i>
                </button>
                <!-- / Mobile Nav Toggler-->
                <ul class="navbar-nav  mx-auto">
                    <li class="nav-item me-lg-4 dropdown position-static">
                        <a class="nav-link fw-bolder dropdown-toggle py-lg-4" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="{% url 'website:properties' %}?status=For Sale">{% trans 'Annonces' %}</a>
                        <div class="dropdown-menu dropdown-megamenu">
                            <div class="container">
                                <div class="row g-0">
                                    <div class="col-12 col-lg-7">
                                        <div class="row py-lg-5">
                                            <div class="col col-lg-6 mb-5 mb-sm-0">
                                                <h6 class="dropdown-heading">{% trans 'Vente' %}</h6>
                                                <ul class="list-unstyled">
                                                    <li class="dropdown-list-item">
                                                        <a class="dropdown-item" href="{% url 'website:properties' %}?advert_type=For+Sale&property_type=Appartement-Villa-Local">Appartement-Villa-Local</a>
                                                    </li>
                                                    <li class="dropdown-list-item">
                                                        <a class="dropdown-item" href="{% url 'website:properties' %}?advert_type=For+Sale&property_type=Terrain-Hangar">Terrain-Hangar</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col col-lg-6 mb-5 mb-sm-0">
                                                <h6 class="dropdown-heading">{% trans 'Location' %}</h6>
                                                <ul class="list-unstyled">
                                                    <li class="dropdown-list-item">
                                                        <a class="dropdown-item" href="{% url 'website:properties' %}?advert_type=For+Rent&property_type=Bungalow-Usine-Hangar">Bungalow-Usine-Hangar</a>
                                                    </li>
                                                    <li class="dropdown-list-item">
                                                        <a class="dropdown-item" href="{% url 'website:properties' %}?advert_type=For+Rent&property_type=Appartement-Villa-Bungalow">Appartement-Villa-Bungalow</a>
                                                    </li>
                                                    <li class="dropdown-list-item">
                                                        <a class="dropdown-item" href="{% url 'website:properties' %}?advert_type=For+Rent&property_type=Local">Local</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-12 mt-4">
                                                <h6 class="dropdown-heading">{% trans 'Annonces par localité' %}</h6>
                                                <ul class="list-unstyled">
                                                    <li class="dropdown-list-item">
                                                        <a class="dropdown-item" href="{% url 'website:properties' %}?wilaya=31">Oran</a>
                                                    </li>
                                                    <li class="dropdown-list-item">
                                                        <a class="dropdown-item" href="{% url 'website:properties' %}?wilaya=16">Alger</a>
                                                    </li>
                                                    <li class="dropdown-list-item">
                                                        <a class="dropdown-item" href="{% url 'website:properties' %}?wilaya=19">Setif</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-none d-lg-block col-lg-5">
                                        <div class="vw-50 h-100 bg-img-cover bg-pos-center-center position-absolute" style="background-image: url({% static 'images/banners/testimonials-bg.jpg'%});"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                   
                    <li class="nav-item me-lg-4">
                        <a class="nav-link fw-bolder py-lg-4" href="{% url 'website:sellproperty' %}">{% trans 'Poser un Annonce' %}</a>
                    </li>
                  
                    <li class="nav-item me-lg-4">
                        <a class="nav-link fw-bolder py-lg-4" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">{% trans 'Contactez-nous' %}</a>
                    </li>
                    <li class="nav-item me-lg-4" style="display: none" id="savedlink">
                         <a class="nav-link fw-bolder py-lg-4" href="{% url 'website:savedproperties' %}">{% trans 'Saved Properties' %}</a>
                     </li>
                     <li class="nav-item me-lg-4" style="display: none" id="myproplink">
                        <a class="nav-link fw-bolder py-lg-4" href="{% url 'website:userproperties' %}">{% trans 'Mes Annonces' %}</a>
                    </li>
                </ul>
            </div>
            <!-- / Main Navigation-->

            <!-- Navbar Icons-->
            <ul class="list-unstyled mb-0 d-flex align-items-center">
                <!-- Navbar Search-->
                <li class="ms-1 d-inline-block">
                    <button class="btn btn-link px-2 text-decoration-none d-flex align-items-center" data-pr-search="">
                        <i class="ri-search-2-line ri-lg align-middle"></i>
                    </button>
                </li>
                <!-- /Navbar Search-->
                <!-- Navbar Wishlist-->
                <li class="ms-1 d-none d-lg-inline-block">
                    <a class="btn btn-link px-2 py-0 text-decoration-none d-flex align-items-center" href="#">
                    </a>
                </li>
                <!-- /Navbar Wishlist-->

                <!-- Navbar Login/Logout-->
                <li class="ms-1" id="auth-link">
                    <a class="btn btn-link px-2 text-decoration-none d-flex align-items-center" href="/login">
                        Login <i class="ri-user-line ri-lg align-middle"></i>
                    </a>
                </li>
                <!-- /Navbar Login-->
                <!-- Navbar Cart-->
                <li class="ms-1 d-inline-block position-relative">
                </li>
                <!-- /Navbar Cart-->

                <!-- Navbar Toggle Icon-->
                <li class="d-inline-block d-lg-none">
                    <button class="btn btn-link px-2 text-decoration-none navbar-toggler border-0 d-flex align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ri-menu-line ri-lg align-middle"></i>
                    </button>
                </li>
                <!-- /Navbar Toggle Icon-->
            </ul>
            <!-- / Navbar Icons-->
        </div>
    </div>
</nav>
<!-- / Navbar-->
   
</div>
<div id="whatsapp-icon">
    <a href="https://wa.me/YOURNUMBER" target="_blank">
        <img src="{% static 'images/logos/whatsapp.gif' %}" alt="WhatsApp">
    </a>
</div>
<!-- / Hero Section -->
<section class=" position-relative bg-overlay-dark pt-6" style="min-height: 100vh">
    <div class="container d-flex h-100 justify-content-center align-items-center position-relative z-index-10">
        <div class="d-flex justify-content-center align-items-center h-100 position-relative z-index-10 text-white w-100">
            <div class="d-flex flex-column justify-content-between mt-9 w-100">
                <h3 class="display-md-5  fw-bold px-2 px-md-5 text-center mx-auto col-lg-8 mt-md-0 animation-float" data-aos="fade-up" data-aos-delay="500">{% trans 'Confiance - Sérieux - Rapidité' %}</h3>

                <div class="mt-5" data-aos="fade-in" data-aos-delay="900">
                    <form action="{% url 'website:properties' %}" method="GET">
                        <div class="filter-container rounded-3">
                            <!-- Property Type Filter using Icons -->
                            <div class="form-group mx-1 my-1 d-flex justify-content-center pt-4">
                                <input type="hidden" id="propertype" name="property_type" value="">
                                <div class="property-type-icons d-flex justify-content-between w-75 flex-wrap px-3 pt-3 rounded text-dark">
                                    <div class="property-icon" data-value="Appartement">
                                        <img src="{% static 'images/logos/appartement.svg' %}" alt="Appartement" class="icon-img">
                                        <span>{% trans 'Appartement' %}</span>
                                    </div>
                                    <div class="property-icon" data-value="Villa">
                                        <img src="{% static 'images/logos/maison.svg' %}" alt="Villa" class="icon-img">
                                        <span>{% trans 'Villa' %}</span>
                                    </div>
                                    <div class="property-icon" data-value="Local">
                                        <img src="{% static 'images/logos/commercial.svg' %}" alt="Local" class="icon-img">
                                        <span>{% trans 'Local' %}</span>
                                    </div>
                                    <div class="property-icon" data-value="Terrain">
                                        <img src="{% static 'images/logos/terrain.svg' %}" alt="Terrain" class="icon-img">
                                        <span>{% trans 'Terrain' %}</span>
                                    </div>
                                    <div class="property-icon" data-value="Bureau">
                                        <img src="{% static 'images/logos/bureau.svg' %}" alt="Bureau" class="icon-img">
                                        <span>{% trans 'Bureau' %}</span>
                                    </div>
                                    <div class="property-icon" data-value="Immeuble">
                                        <img src="{% static 'images/logos/immeuble.svg' %}" alt="Immeuble" class="icon-img">
                                        <span>{% trans 'Immeuble' %}</span>
                                    </div>
                                    <!-- Hamburger Menu Icon for Other Property Types -->
                                    <div class="dropdown property-icon">
                                        <img src="{% static 'images/logos/category.png' %}" alt="More" class="icon-img dropdown-toggle drpdwntgl" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span>{% trans 'Plus' %}</span>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <li><a class="dropdown-item drpdwn" href="#" data-value="Hangar">{% trans 'Hangar' %}</a></li>
                                            <li><a class="dropdown-item drpdwn" href="#" data-value="Bungalow">{% trans 'Bungalow' %}</a></li>
                                            <li><a class="dropdown-item drpdwn" href="#" data-value="Usine">{% trans 'Usine' %}</a></li>
                                            <li><a class="dropdown-item drpdwn" href="#" data-value="Carcas">{% trans 'Carcas' %}</a></li>
                                            <li><a class="dropdown-item drpdwn" href="#" data-value="Terrain Agricole">{% trans 'Terrain Agricole' %}</a></li>
                                            <li><a class="dropdown-item drpdwn" href="#" data-value="Deplux">{% trans 'Deplux' %}</a></li>
                                            <li><a class="dropdown-item drpdwn" href="#" data-value="Studio">{% trans 'Studio' %}</a></li>
                                            <li><a class="dropdown-item drpdwn" href="#" data-value="Autres">{% trans 'Other' %}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                    
                            <!-- Filter Bar -->
                            <div class="filter-bar d-flex justify-content-center w-100 flex-wrap p-4 pb-5 rounded shadow-sm">
                                <!-- Advert Type Filter -->
                                <div class="form-group mx-2 my-2 d-flex align-items-center">
                                    <select id="advertype" name="advert_type" class="form-select form-select-md rounded-pill pe-5">
                                        <option value="">{% trans 'choisie votre project' %}</option>
                                        <option value="For Sale">{% trans 'Vendre' %}</option>
                                        <option value="For Rent">{% trans 'Location' %}</option>
                                        <option value="Echange">{% trans 'Echange' %}</option>
                                    </select>
                                </div>
                                <!-- Wilaya Dropdown -->
                                <div class="form-group mx-2 my-2 d-flex align-items-center">
                                    <select id="wilaya" name="wilaya" class="form-select form-select-md rounded-pill">
                                        <option value="">{% trans 'Wilaya' %}</option>
                                        <option value="1">Wilaya 1</option>
                                        <option value="2">Wilaya 2</option>
                                        <!-- Add more options as needed -->
                                    </select>
                                </div>
                                <!-- Filter Button -->
                                <div class="d-flex mx-2 my-2 align-items-center form-group">
                                    <button class="btn btn-orange rounded-pill" type="submit">{% trans 'Rechercher' %}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                   
                    
                
                    <!-- Add some basic styles -->
                    <style>
                        .property-type-icons .property-icon {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            cursor: pointer;
                            margin: 0 10px; /* Adjust margin for smaller screens */
                        }
                    
                        .icon-img {
                            width: 90px; /* Adjust the size as needed */
                            height: auto;
                        }
                    
                        .property-type-icons .property-icon.selected {
                            border: 2px solid orange;
                            border-radius: 10px;
                            padding: 5px;
                        }
                    
                        .filter-bar {
                            margin-top: 20px; /* Add some space between icons and other filters */
                        }
                    </style>
                    
                
                    <!-- Add JavaScript to handle icon selection -->
                    <script>
                        document.querySelectorAll('.property-type-icons .property-icon').forEach(icon => {
                            icon.addEventListener('click', function () {
                                document.querySelectorAll('.property-type-icons .property-icon').forEach(icon => {
                                    icon.classList.remove('selected');
                                });
                                this.classList.add('selected');
                                document.getElementById('propertype').value = this.getAttribute('data-value');
                            });
                        });
                    </script>
                </div>
                
                <a href="#suite" class=" d-block text-center text-decoration-none animation-float ri-2x transition-all opacity-50-hover text-white mt-3"
                      data-pixr-scrollto data-target=".brand-section" data-aos="fade-up"
                      data-aos-delay="700">
                    {% trans 'lire la suite' %}

                </a>
                <i class="ri-arrow-drop-down-line d-block text-center animation-float ri-2x transition-all opacity-50-hover text-white "
                   data-pixr-scrollto data-target=".brand-section" data-aos="fade-up"
                   data-aos-delay="700"></i>
            </div>

        </div>
    </div>
    <div class="position-absolute z-index-1 top-0 bottom-0 start-0 end-0">
      <!-- Swiper Info -->
<div class="swiper-container overflow-hidden bg-light w-100 h-100"
data-swiper
data-options='{
   "slidesPerView": 1,
   "speed": 1500,
   "loop": true,
   "effect": "fade",
   "autoplay": {
     "delay": 5000
   }
 }'>
<div class="swiper-wrapper">
   <div class="swiper-slide position-relative">
       <div class="w-100 h-100 bg-img-cover animation-move bg-pos-center-center" style="background-image: url({% static 'images/banners/banner-2.jpg' %});">
       </div>
   </div>
   <div class="swiper-slide position-relative">
       <div class="w-100 h-100 bg-img-cover animation-move bg-pos-center-center" style="background-image: url({% static 'images/slideshows/slideshow-2.jpg' %});">
       </div>
   </div>
   <div class="swiper-slide position-relative">
       <div class="w-100 h-100 bg-img-cover animation-move bg-pos-center-center" style="background-image: url({% static 'images/slideshows/slideshow-1.jpg' %});">
       </div>
   </div>
</div>
</div>
<!-- / Swiper Info-->
    </div>
</section>

<div class="position-relative row my-lg-7 pt-5 ps-3 pt-lg-0 w-100 mt-6" id="suite" >
    <div class="bg-text bottom-0 start-0 end-0" data-aos="fade-up" >
        <h2 class="bg-text-title opacity-10"><span class="text-outline-dark">{% trans 'Dream' %}</span>{% trans 'Home' %}</h2>
    </div>
    <div class="col-12 col-md-6 position-relative z-index-20 mb-7 mb-lg-0" data-aos="fade-right">
        <h3 class="display-3 fw-bold mb-5"><span class="text-outline-dark">
{% trans 'Agence immobilière' %}
</span> - L'IMMOBILIAH</h3>
        <p class="lead">
            {% blocktrans %}
            ImmobiliaH, agent immobilier à Oran, est à votre écoute  : conseil en ACHAT, VENTE, LOCATION, GESTION et SYNDIC de villas et d'appartements. Réalise votre évaluation personnelle pour vendre ou louer dans les meilleures conditions.
            {% endblocktrans %}
        </p>
        <p class="lead">
            {% blocktrans %}
            Spécialiste de la villa et de l'appartement, ImmobiliaH réalise votre projet. Administrateur de biens, gardien de votre patrimoine, Immobilia gère votre bien comme le sien :
            prise en charge totale, mise en place d'un locataire sérieux, assurance loyers impayés
            {% endblocktrans %}
        </p>
        <a href="./properties.html" class="btn btn-psuedo" role="button">{% trans 'Explorer les propriétés' %}</a>
    </div>
    <div class="col-12 col-md-6 position-relative z-index-20 pe-0 mt-6 " data-aos="fade-left">

        <picture class="w-50 d-block position-relative z-index-10 border border-white border-4 shadow-lg">
            <img loading="lazy" class="img-fluid" src="{% static 'images\banners\banner-1.jpg'%}" alt="{% trans 'Real Estate Banner 1' %}">
        </picture>


        <picture class="w-60 d-block me-8 mt-n10 shadow-lg border border-white border-4 position-relative z-index-20 ms-auto" style="max-height : 140vh !important;">
            <img loading="lazy" class="img-fluid" src="{% static 'images\banners\banner-5.jpg'%}" alt="{% trans 'Real Estate Banner 1' %}">
        </picture>

        <picture class="w-50 d-block me-8 mt-n7 shadow-lg border border-white border-4 position-absolute top-0 end-0 z-index-0 ">
            <img loading="lazy" class="img-fluid" src="{% static 'images\banners\banner-4.jpg'%}" alt="{% trans 'Real Estate Banner 3' %}">
        </picture>
    </div>

</div>
<!-- / Linked Product Carousels-->

<!-- Homepage Intro-->
<section class="position-relative my-5 my-md-7 my-lg-9 bg-dark text-white aos-init aos-animate" data-aos="fade-in">
    <!-- SVG Shape Divider -->
    <div class="position-absolute z-index-50 top-0 end-0 start-0">
        <svg class="align-self-start d-flex w-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1283 53.25">
            <polygon fill="currentColor" points="1283 0 0 0 0 53.25 1283 0"></polygon>
        </svg>
    </div>
    <!-- /SVG Shape Divider -->

    <div class="py-7 py-lg-10">
        <div class="container text-white py-4 py-md-6">
            <div class="text-center mb-5">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Flag_of_Algeria.svg/320px-Flag_of_Algeria.svg.png" alt="{% trans 'Drapeau Algérien' %}" style="max-width: 100px;">
                <h2 class="fw-bold mt-3">{% trans 'Agence Immobilière Algérienne Agréée par l\'État' %}</h2>
            </div>

            <div class="row g-5 align-items-start">
                <div class="col-12 col-md-4">
                    <h3 class="fs-1 fw-bold mb-4"><i class="ri-home-4-line align-bottom"></i> {% trans 'Nos Services' %}</h3>
                    <ul class="list-unstyled">
                        <li class="mb-2"><strong>{% trans 'Vente de Biens Immobiliers' %}</strong>
                            <ul>
                                <li>{% trans 'Maisons' %}</li>
                                <li>{% trans 'Appartements' %}</li>
                                <li>{% trans 'Terrains' %}</li>
                            </ul>
                        </li>
                        <li class="mb-2"><strong>{% trans 'Location de Biens Immobiliers' %}</strong>
                            <ul>
                                <li>{% trans 'Locations à court terme' %}</li>
                                <li>{% trans 'Locations à long terme' %}</li>
                            </ul>
                        </li>
                        <li class="mb-2"><strong>{% trans 'Gestion Immobilière' %}</strong>
                            <ul>
                                <li>{% trans 'Administration de biens' %}</li>
                                <li>{% trans 'Gestion locative' %}</li>
                            </ul>
                        </li>
                        <li class="mb-2"><strong>{% trans 'Conseil et Accompagnement' %}</strong>
                            <ul>
                                <li>{% trans 'Évaluation immobilière' %}</li>
                                <li>{% trans 'Conseils juridiques' %}</li>
                                <li>{% trans 'Accompagnement personnalisé' %}</li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="col-12 col-md-4">
                    <h3 class="fs-1 fw-bold mb-4"><i class="ri-hand-heart-line align-bottom"></i> {% trans 'Nos Engagements' %}</h3>
                    <ul class="list-unstyled">
                        <li class="mb-3"><strong>{% trans 'Professionnalisme:' %}</strong> {% trans 'Nous assurons un service de haute qualité avec des agents qualifiés et compétents.' %}</li>
                        <li class="mb-3"><strong>{% trans 'Transparence:' %}</strong> {% trans 'Toutes nos transactions sont effectuées en toute transparence, conformément aux lois en vigueur.' %}</li>
                        <li class="mb-3"><strong>{% trans 'Satisfaction Client:' %}</strong> {% trans 'Votre satisfaction est notre priorité. Nous mettons tout en œuvre pour répondre à vos attentes et besoins.' %}</li>
                    </ul>
                </div>

                <div class="col-12 col-md-4">
                    <h3 class="fs-1 fw-bold mb-4"><i class="ri-contacts-line align-bottom"></i> {% trans 'Contactez-Nous' %}</h3>
                    <p class="mb-2"><strong>{% trans 'Adresse:' %}</strong> [Votre adresse ici]</p>
                    <p class="mb-2"><strong>{% trans 'Téléphone:' %}</strong> [Votre numéro de téléphone ici]</p>
                    <p class="mb-2"><strong>{% trans 'Email:' %}</strong> [Votre email ici]</p>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- / Main Section-->
     <!-- Staff Picks-->
<section class="mb-9 mt-5 aos-init aos-animate" data-aos="fade-up">
        <div class="container">
            <div class="w-md-50 mb-5">
                <p class="small fw-bolder text-uppercase tracking-wider mb-2 text-muted">{% trans 'Populaire' %}</p>
                <h2 class="display-5 fw-bold mb-3">{% trans 'Propriétés populaires' %}</h2>
                <p class="lead">{% trans 'Nous avons trié notre flux pour rassembler une collection de nos produits parfaits pour un été en plein air.' %}</p>
            </div>
            <!-- Swiper Latest -->
            <div class="swiper-container overflow-visible swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events swiper-container-css-mode" data-swiper="" data-options="{
                &quot;spaceBetween&quot;: 25,
                &quot;cssMode&quot;: true,
                &quot;roundLengths&quot;: true,
                &quot;scrollbar&quot;: {
                  &quot;el&quot;: &quot;.swiper-scrollbar&quot;,
                  &quot;hide&quot;: false,
                  &quot;draggable&quot;: true
                },
                &quot;navigation&quot;: {
                  &quot;nextEl&quot;: &quot;.swiper-next&quot;,
                  &quot;prevEl&quot;: &quot;.swiper-prev&quot;
                },
                &quot;breakpoints&quot;: {
                  &quot;576&quot;: {
                    &quot;slidesPerView&quot;: 1
                  },
                  &quot;768&quot;: {
                    &quot;slidesPerView&quot;: 2
                  },
                  &quot;992&quot;: {
                    &quot;slidesPerView&quot;: 3
                  },
                  &quot;1200&quot;: {
                    &quot;slidesPerView&quot;: 4
                  }
                }
              }">
              <div class="swiper-wrapper pb-5 pe-1">
                   {% for prop in pop_properties  %}
                  <div class="swiper-slide d-flex h-auto swiper-slide-active  " style="width: 393px; margin-right: 25px; cursor: pointer;">
                      <div class="card position-relative h-100 card-listing hover-trigger" data-property-slug="{{ prop.slug }}">

        <div class="position-relative">
            <div class="o-announ-card-image" style="flex-grow: 1;">
                <a href="{% url 'website:propdetails' prop.slug %}" class="d-flex flex-column flex-grow-1 v-card v-card--link pb-1">
                    <picture>
                        <source type="image/webp" srcset="{{ prop.cover_photo.url }}">
                        <img src="{{ prop.cover_photo.url }}" class="ok-img" style="width: 100%; height: 100%; object-fit: cover;" alt="Property Image">
                    </picture>
                </a>
            </div>
            <div class="position-absolute top-0 end-0 m-2 d-flex gap-2">
                <button class="btn btn-outline-light bg-white-hover bg-dark rounded-circle btn-sm p-1" onclick="toggleLike('{{ prop.slug }}')">
                    <i class="icon-heart"></i>
                    <span class="badge badge-orange bg-orange rounded-circle position-absolute" style="top: -5px; z-index: 99999;" id="like-count-{{ prop.slug }}"></span>
                </button>
                <button class="btn btn-outline-light bg-white-hover bg-dark rounded-circle btn-sm p-1" onclick="saveProperty('{{ prop.slug }}')">
                    <i class="icon-bookmark"></i>
                </button>
            </div>
            <div class="mx-2 mt-2" style="flex-grow: 0;">
                <h6 class="mb-1 card-title text-truncate">{{prop.wilaya}} {{ prop.title }}</h6>
                <div class="d-flex flex-wrap flex-gap-1 align-center mb-1">
                    <span class="price d-inline-flex"><div class="mr-1">{{ prop.price }}</div><div>DA</div></span>
                </div>
            </div>

            <div class="d-inline flex-grow-0">
                <ul class="mt-2 mx-2 d-flex justify-content-between align-items-center">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <i class="icon-bed"></i>
                        <span class="mx-2">{{ prop.bedrooms }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <i class="icon-bath"></i>
                        <span class="mx-2">{{ prop.bathrooms }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <i class="icon-expand"></i>
                        <span class="mx-2">{{ prop.plot_area }} m²</span>
                    </li>
                </ul>
            </div>
            <div class="mt-2 mx-2 d-flex justify-content-between align-items-center">
                <!-- Call and Message Buttons -->
                <button class="btn btn-outline-white bg-success btn-sm" onclick="showModal('call')">
                    <i class="icon-phone"></i> Call
                </button>
                <button class="btn btn-outline-white bg-info btn-sm" onclick="showModal('message')">
                    <i class="icon-message"></i> Message
                </button>
            </div>
        </div>
    </div>
</div>
                  {% endfor %}
                <div class="swiper-slide d-flex h-auto justify-content-center align-items-center" style="width: 393px;">
                  <a href="{% url 'website:properties' %}" class="d-flex text-decoration-none flex-column justify-content-center align-items-center">
                    <span class="btn btn-dark btn-icon mb-3"><i class="ri-arrow-right-line ri-lg lh-1"></i></span>
                    <span class="lead fw-bolder">{% trans 'Voir tout' %}</span>
                  </a>
                </div>
              </div>

              <!-- Buttons-->
              <div class="swiper-btn swiper-disabled-hide swiper-prev swiper-btn-side btn-icon bg-dark text-white ms-3 shadow-lg mt-n5 ms-n4 swiper-button-disabled"><i class="ri-arrow-left-s-line ri-lg"></i></div>
              <div class="swiper-btn swiper-disabled-hide swiper-next swiper-btn-side swiper-btn-side-right btn-icon bg-dark text-white me-n4 shadow-lg mt-n5"><i class="ri-arrow-right-s-line ri-lg"></i></div>

              <!-- Add Scrollbar -->
              <div class="swiper-scrollbar"><div class="swiper-scrollbar-drag" style="transform: translate3d(0px, 0px, 0px); width: 41.3297px;"></div></div>

            </div>
            <!-- / Swiper Latest-->            </div>
             
</section>
    <!-- / Staff Picks-->



        <!-- Linked Product Carousels-->

<!-- Leaflet Map Section -->
<section class="">
    <div id="map" class="w-100" style="height: 400px; border-radius: 20px; overflow: hidden;"></div>
</section>
<!-- / Leaflet Map Section -->
{% endblock %}
 {% block subject %}
              <div class="d-flex justify-content-between align-items-center">
              <div class="form-group">
                            <label for="subject" class="form-label">subject</label>
                            <input name="subject" id="subject" class="form-control"type="text">
                          </div>
            </div>
              {% endblock %}

{% block scripts %}
<script >
    document.addEventListener('DOMContentLoaded', function() {
        initializeLocationSelectors();
        updateLikeCount();

    })

    
</script>

{% endblock %}

