 {% extends './pagesbase.html' %}
{% load static %}
<!-- {% block bannertitle %}
 FIND YOUR DREAM PROPERTY
 {% endblock %}
{% block bannertext %}

 you can find your dream property here by searching for the property you want with the best price and the best location

 {% endblock %}-->

{% block section %}
  <section class="mt-0 ">
        <!-- Page Content Goes Here -->

<div class="py-6 bg-img-cover bg-dark bg-overlay-gradient-dark position-relative overflow-hidden mb-4 bg-pos-center-center" style="background-image: url('{% static 'images/banners/banner-3.jpg'  %}');">
    <div class="container position-relative z-index-20" data-aos="fade-right" data-aos-delay="300">
        <h1 class="fw-bold display-6 mb-4 text-white">Explore Our Real Estate Properties</h1>
        <div class="col-12 col-md-6">
            <p class="lead text-white mb-0">
                Find your dream home or investment property from our wide range of listings. Whether you're looking for a cozy apartment, a spacious house, or a commercial property, we have something for everyone. Start your search now!
            </p>
        </div>
    </div>
</div>

        <div class="container-fluid" data-aos="fade-in">
            <div class="mb-lg-7 bg-light py-4" data-aos="fade-in">
                <div class="container">
                    <div class="row gx-3 align-items-center">
                        <div
                                class="col-12 justify-content-center justify-content-md-between align-items-center d-flex flex-wrap">
                            <div class="me-2 f-w-20 m-4 ms-md-0 mt-md-0 mb-md-0">
                                <a class="d-block" href="./category.html" data-bs-toggle="tooltip"
                                   data-bs-placement="top" title="Shop Kathmandu">
                                    <img class="img-fluid d-table mx-auto" src="./assets/images/logos/logo-1.svg"
                                         alt="Bootstrap 5 Template by Pixel Rocket">
                                </a>
                            </div>
                            <div class="me-2 f-w-20 m-4 ms-md-0 mt-md-0 mb-md-0">
                                <a class="d-block" href="./category.html" data-bs-toggle="tooltip"
                                   data-bs-placement="top" title="Shop Billabong">
                                    <img class="img-fluid d-table mx-auto" src="./assets/images/logos/logo-2.svg"
                                         alt="Bootstrap 5 Template by Pixel Rocket">
                                </a>
                            </div>
                            <div class="me-2 f-w-20 m-4 ms-md-0 mt-md-0 mb-md-0">
                                <a class="d-block" href="./category.html" data-bs-toggle="tooltip"
                                   data-bs-placement="top" title="Shop Oakley">
                                    <img class="img-fluid d-table mx-auto" src="./assets/images/logos/logo-9.svg"
                                         alt="Bootstrap 5 Template by Pixel Rocket">
                                </a>
                            </div>
                            <div class="me-2 f-w-20 m-4 ms-md-0 mt-md-0 mb-md-0">
                                <a class="d-block" href="./category.html" data-bs-toggle="tooltip"
                                   data-bs-placement="top" title="Shop Patagonia">
                                    <img class="img-fluid d-table mx-auto" src="./assets/images/logos/logo-4.svg"
                                         alt="Bootstrap 5 Template by Pixel Rocket">
                                </a>
                            </div>
                            <div class="me-2 f-w-20 m-4 ms-md-0 mt-md-0 mb-md-0">
                                <a class="d-block" href="./category.html" data-bs-toggle="tooltip"
                                   data-bs-placement="top" title="Shop North Face">
                                    <img class="img-fluid d-table mx-auto" src="./assets/images/logos/logo-5.svg"
                                         alt="Bootstrap 5 Template by Pixel Rocket">
                                </a>
                            </div>
                            <div class="me-2 f-w-20 m-4 ms-md-0 mt-md-0 mb-md-0">
                                <a class="d-block" href="./category.html" data-bs-toggle="tooltip"
                                   data-bs-placement="top" title="Shop Salomon">
                                    <img class="img-fluid d-table mx-auto" src="./assets/images/logos/logo-7.svg"
                                         alt="Bootstrap 5 Template by Pixel Rocket">
                                </a>
                            </div>
                            <a href="./category.html" class="btn btn-link fw-bolder">Explore All Brands <i
                                    class="ri-arrow-right-line align-bottom fw-bold"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Category Toolbar-->
                <div class="d-flex justify-content-between items-center pt-5 pb-4 flex-column flex-lg-row">
                    <div>
                              <h1 class="fw-bold fs-3 mb-2">Properties</h1>
                        <p class="m-0 text-muted small">chose </p>
                    </div>
                    <div class="d-flex justify-content-end align-items-center mt-4 mt-lg-0 flex-column flex-md-row">

                        <!-- Filter Trigger-->
                        <button class="btn bg-light p-3 me-md-3 d-flex align-items-center fs-7 lh-1 w-100 mb-2 mb-md-0 w-md-auto " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilters" aria-controls="offcanvasFilters">
                            <i class="ri-equalizer-line me-2"></i> Filters
                        </button>
                        <!-- / Filter Trigger-->

                        <!-- Sort Options-->
                            <select class="form-select form-select-sm border-0 bg-light p-3 pe-5 lh-1 fs-7">
                                <option selected>Sort By</option>
                                <option value="1">Hi Low</option>
                                <option value="2">Low Hi</option>
                                <option value="3">Name</option>
                            </select>
                        <!-- / Sort Options-->
                    </div>
                </div>            <!-- /Category Toolbar-->


                <!-- Products-->
                <div class="row g-4 mb-5" id="poperty">


                </div>
                <!-- / Products-->

            <!-- Pagination-->
            <div class="d-flex flex-column f-w-44 mx-auto my-5 text-center">
                <small class="text-muted" id="count">no property</small>
                <div class="progress f-h-1 mt-3">
                    <div class="progress-bar bg-dark" id="count-progress" role="progressbar" style="width: 25%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <button onclick="" class="btn btn-outline-dark btn-sm mt-5 align-self-center py-3 px-4 border-2" id="loadmore">Load More</button>
            </div>            <!-- / Pagination-->
        </div>

        <!-- /Page Content -->
    </section>




 {% endblock %}

 {% block subject %}
              <div class="d-flex justify-content-between align-items-center">
              <div class="form-group">
                            <label for="subject" class="form-label">subject</label>
                            <input name="subject" id="subject" class="form-control" type="text">
                          </div>
            </div>
              {% endblock %}



{% block scripts %}

<!--fetching properties -->
 <script>

    let products = 0;
let nextUrl = null;
    function loadmore(url) {
console.log(url);
fetch( url )
    .then(
    response =>{
    console.log(response);
    return response.json();
     })
    .then(data => {


     if (data.next == nextUrl && data.previous != null) {
                document.getElementById('loadmore').style.display = 'none';
                console.log('No more data to load');
                return;
            }
              nextUrl = data.next;
    document.getElementById('loadmore').addEventListener('click', function() {
    console.log('Load more button clicked');
    loadmore(data.next);
    });
   data.results.forEach((item) => {
    document.getElementById('poperty').innerHTML += `<div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
    <div class="card card-listing hover-trigger card-hover border">
        <img src="${item.cover_photo}" class="card-img-top" style="object-fit: cover; height: 200px;" alt="Property Image">

        <div class="position-absolute top-5 start-7 translate-middle badge bg-dark p-2">${item.advert_type}</div>
        <div class="card-body">
            <h5 class="card-title">${item.title}</h5>
            <p class="card-text">${item.street_address}, ${item.city}</p>
            <p class="card-text"><small class="text-dark">Price: ${item.price}</small></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Bedrooms <span class="badge bg-dark">${item.bedrooms}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Bathrooms <span class="badge bg-dark">${item.bathrooms}</span>
            </li>
        </ul>
        <div class="card-body">
            <a href="http://127.0.0.1:8000/property/${item.slug}" class="btn btn-orange rounded-pill py-2 px-3">See Details</a>
        </div>
    </div>
</div>

    `;});
    console.log(data);
    count = data.count;
    products = document.getElementById('poperty').childElementCount;
      document.getElementById('count').innerHTML = `Showing ${ products } of ${count} products`;
      document.getElementById('count-progress').style.width = `${(products / count) * 100}%`;



    });


};

  const urlParams = new URLSearchParams(window.location.search);
const status = urlParams.get('status');
console.log(status);
if(status){
fetchingurl = `http://127.0.0.1:8000/api/v1/properties/all/?advert_type=${status}`;
}
else{
fetchingurl = `http://127.0.0.1:8000/api/v1/properties/all`;
}

loadmore(fetchingurl);
</script>
<!-- searche -->
 <script>
 function filtersearch() {
 document.getElementById('poperty').innerHTML = '';
    console.log('Filter search button clicked');

    // Define the URL of the API endpoint
    const url = 'http://127.0.0.1:8000/api/v1/properties/search/';

   // Get the selected value for bedrooms
var selectedBedrooms = document.querySelector('input[name="bedrooms"]:checked');
var bedrooms = selectedBedrooms ? selectedBedrooms.value : "0";

// Get the selected value for bathrooms
var selectedBathrooms = document.querySelector('input[name="bathrooms"]:checked');
var bathrooms = selectedBathrooms ? selectedBathrooms.value : "0";
    // Get the selected checkbox values for propertype


    var selectedadvertypetypes = document.querySelectorAll('input[name="advertype"]:checked');
    var advertype = [];
    selectedadvertypetypes.forEach(option => {
        advertype.push(option.value);
    });
    var selectedpropertypes = document.querySelectorAll('input[name="propertype"]:checked');
    var propertype = [];
    selectedpropertypes.forEach(option => {
        propertype.push(option.value);
    });


    // Get other input values
    var minPrice = document.getElementById('minPrice').value;
    var maxPrice = document.getElementById('maxPrice').value;
    var location = document.getElementById('location').value;

    // Parse price values to float or set them to null if they are empty
    var pricegt = minPrice ? parseFloat(minPrice) : 0;
    var pricelt = maxPrice ? parseFloat(maxPrice) : 99999999999999999999;

    // Prepare data for API request
    var data = {
        "advert_type": advertype,
        "property_type": propertype,
        "pricegt": pricegt,
        "pricelt": pricelt,
        "bedrooms": bedrooms,
        "bathrooms": bathrooms,
        "catch_phrase": location
        // Add more filters as needed
    };

    // Display the extracted input data
    console.log('Input data:', data);

    // Define the request options
    const requestOptions = {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json', // Assuming JSON data
        },
        body: JSON.stringify(data),
    };

    // Make the POST request
    fetch(url, requestOptions)
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            console.log('Response:', data);
        // Iterate over the response data and generate HTML elements
// Check if the response contains data
if (Array.isArray(data) && data.length > 0) {
    // Access the first item in the array
    const item = data[0];
    // Generate HTML elements using the properties of the item
    document.getElementById('poperty').innerHTML += `
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card card-listing hover-trigger card-hover border">
                <img src="${item.cover_photo}" class="card-img-top" style="object-fit: cover; height: 200px;" alt="Property Image">
                <div class="position-absolute top-5 start-7 translate-middle badge bg-dark p-2">${item.advert_type}</div>
                <div class="card-body">
                    <h5 class="card-title">${item.title}</h5>
                    <p class="card-text">${item.street_address}, ${item.city}</p>
                    <p class="card-text"><small class="text-dark">Price: ${item.price}</small></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Bedrooms <span class="badge bg-dark">${item.bedrooms}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Bathrooms <span class="badge bg-dark">${item.bathrooms}</span>
                    </li>
                </ul>
                <div class="card-body">
                    <a href="http://127.0.0.1:8000/property/${item.slug}" class="btn btn-orange rounded-pill py-2 px-3">See Details</a>
                </div>
            </div>
        </div>
    `;
} else {
    document.getElementById('poperty').innerHTML = '<p>No results found.</p>';
    }

        })
        .catch(error => {
            console.error('Error:', error);
        });
}

 </script>

 {% endblock %}
