 {% extends './pagesbase.html' %}
{% load static %}
<!-- {% block bannertitle %}
 FIND YOUR DREAM PROPERTY
 {% endblock %}
{% block bannertext %}

 you can find your dream property here by searching for the property you want with the best price and the best location

 {% endblock %}-->

{% block section %}
  <section class="mt-0 ">
        <!-- Page Content Goes Here -->

<div class="py-6 bg-img-cover bg-dark bg-overlay-gradient-dark position-relative overflow-hidden mb-4 bg-pos-center-center" style="background-image: url('{% static 'images/banners/banner-3.jpg'  %}');">
    <div class="container position-relative z-index-20" data-aos="fade-right" data-aos-delay="300">
        <h1 class="fw-bold display-6 mb-4 text-white">Explore Our Real Estate Properties</h1>
        <div>
            <div data-aos="fade-in" data-aos-delay="900">

                <div class=" d-flex justify-content-center w-100">

                    <div  class="mt-2   w-md-50">
                        <div class="w-100 d-flex flex-column ">
                            <div class=" d-flex justify-content-center w-100">

                                <div class="btn-group w-75  w-md-50 " role="group">

                                    <input type="radio" class="btn-check bg-orange hover-bg-orange" name="advertype" id="status-sale" value="For Sale" autocomplete="off" checked>
                                    <label class="btn btn-outline-orange" for="status-sale" style="border: hidden !important; color: white !important;">For Sale</label>

                                    <input type="radio" class="btn-check bg-orange hover-bg-orange" name="advertype" id="status-rent" value="For Rent" autocomplete="off">
                                    <label class="btn btn-outline-orange <" for="status-rent"  style="border: hidden !important;color: white !important;">For Rent</label>
                                </div>

                            </div>

                            <div class="input-group mb-3">
                                <input type="text" name="query" class="form-control" id="location" placeholder="Search properties" aria-label="Search properties">

                                <button class="btn btn-orange" onclick="filtersearch()" type="submit">Search</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
      <div class="mb-lg-7 bg-light py-4 rounded-pill mt-3" data-aos="fade-in" id="swiper-container">
          <div class="container">
              <div class="row gx-3 align-items-center">
                  <div class="col-12 justify-content-center justify-content-md-between align-items-center d-flex flex-wrap">
                      <!-- Your icon elements here -->
                      <div class="swiper swiperIcons">
                          <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                  <div class="me-2 f-w-20 m-4 ms-md-0 mt-md-0 mb-md-0">
                                      <a class="d-block text-decoration-none slide-icon-house" onclick="filterByPropertyType('House')">
                                          <img class="img-fluid d-table mx-auto mb-2 icon-house-slide custom-icon" src="{% static 'svgs/house.svg' %}" alt="House">
                                          <p class="text-center mb-0 text-dark">House</p>
                                      </a>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="me-2 f-w-20 m-4 ms-md-0 mt-md-0 mb-md-0">
                                      <a class="d-block text-decoration-none slide-icon-apartment"onclick="filterByPropertyType('Apartment')">
                                          <img class="img-fluid d-table mx-auto mb-2 icon-apartment-slide custom-icon" src="{% static 'svgs/building.svg' %}" alt="Apartment">
                                          <p class="text-center mb-0 text-dark">Apartment</p>
                                      </a>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="me-2 f-w-20 m-4 ms-md-0 mt-md-0 mb-md-0">
                                      <a class="d-block text-decoration-none slide-icon-commercial"onclick="filterByPropertyType('Commercial')">
                                          <img class="img-fluid d-table mx-auto mb-2 icon-commercial-slide custom-icon" src="{% static 'svgs/shop.svg' %}" alt="Commercial">
                                          <p class="text-center mb-0 text-dark">Commercial</p>
                                      </a>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="me-2 f-w-20 m-4 ms-md-0 mt-md-0 mb-md-0">
                                      <a class="d-block text-decoration-none slide-icon-office" onclick="filterByPropertyType('Office')">
                                          <img class="img-fluid d-table mx-auto mb-2 icon-office-slide custom-icon" src="{% static 'svgs/desk.svg' %}" alt="Office">
                                          <p class="text-center mb-0 text-dark">Office</p>
                                      </a>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="me-2 f-w-20 m-4 ms-md-0 mt-md-0 mb-md-0">
                                      <a class="d-block text-decoration-none slide-icon-warehouse" onclick="filterByPropertyType('Warehouse')">
                                          <img class="img-fluid d-table mx-auto mb-2 icon-warehouse-slide custom-icon" src="{% static 'svgs/logistic.svg' %}" alt="Warehouse">
                                          <p class="text-center mb-0 text-dark">Warehouse</p>
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>

        <div class="container-fluid" data-aos="fade-in">


            <!-- Your HTML with icon elements -->


            <!-- Category Toolbar-->
                <div class="d-flex justify-content-between items-center pt-5 pb-4 flex-column flex-lg-row">
                    <div>
                              <h1 class="fw-bold fs-3 mb-2">Properties</h1>
                        <p class="m-0 text-muted small">chose </p>
                    </div>
                    <div class="d-flex justify-content-end align-items-center mt-4 mt-lg-0 flex-column flex-md-row">

                        <!-- Filter Trigger-->
                        <button class="btn bg-light p-3 me-md-3 d-flex align-items-center fs-7 lh-1 w-100 mb-2 mb-md-0 w-md-auto " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilters" aria-controls="offcanvasFilters">
                            <i class="ri-equalizer-line me-2"></i> Filters
                        </button>
                        <!-- / Filter Trigger-->

                        <!-- Sort Options-->
                            <select class="form-select form-select-sm border-0 bg-light p-3 pe-5 lh-1 fs-7">
                                <option selected>Sort By</option>
                                <option value="1">Hi Low</option>
                                <option value="2">Low Hi</option>
                                <option value="3">Name</option>
                            </select>
                        <!-- / Sort Options-->
                    </div>
                </div>            <!-- /Category Toolbar-->


                <!-- Products-->
                <div class="row g-4 mb-5" id="poperty">


                </div>
                <!-- / Products-->

            <!-- Pagination-->
            <div class="d-flex flex-column f-w-44 mx-auto my-5 text-center">
                <small class="text-muted" id="count">no property</small>
                <div class="progress f-h-1 mt-3">
                    <div class="progress-bar bg-dark" id="count-progress" role="progressbar" style="width: 25%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <button onclick="" class="btn btn-outline-dark btn-sm mt-5 align-self-center py-3 px-4 border-2" id="loadmore">Load More</button>
            </div>            <!-- / Pagination-->
        </div>

        <!-- /Page Content -->
    </section>




 {% endblock %}

 {% block subject %}
              <div class="d-flex justify-content-between align-items-center">
              <div class="form-group">
                            <label for="subject" class="form-label">subject</label>
                            <input name="subject" id="subject" class="form-control" type="text">
                          </div>
            </div>
              {% endblock %}



{% block scripts %}

<!--fetching properties -->
 <script>
     let nextUrl = null;

     function loadMore(url) {
         fetch(url)
             .then(response => {
                 if (!response.ok) {
                     throw new Error(`HTTP error! Status: ${response.status}`);
                 }
                 document.getElementById('poperty').scrollIntoView({ behavior: 'smooth' });
                 return response.json();
             })
             .then(handleLoadMoreResponse)

             .catch(error => {
                 console.error('Error:', error);
             });
     }

     function handleLoadMoreResponse(data) {
         if (data.next == nextUrl && data.previous != null) {
             document.getElementById('loadmore').style.display = 'none';
             console.log('No more data to load');
             return;
         }
         nextUrl = data.next;
         document.getElementById('loadmore').addEventListener('click', function() {
             console.log('Load more button clicked');
             loadMore(data.next);
         });
         displayProperties(data.results);
         updateCount(data.count);
     }

     function displayProperties(properties) {
         const propertyContainer = document.getElementById('poperty');
         propertyContainer.innerHTML += properties.map(getPropertyHTML).join('');
         document.getElementById('poperty').scrollIntoView({ behavior: 'smooth' });

     }

     function getPropertyHTML(item) {
         return `
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="card card-listing hover-trigger card-hover border">
                    <img src="${item.cover_photo}" class="card-img-top" style="object-fit: cover; height: 200px;" alt="Property Image">
                    <div class="position-absolute top-5 start-7 translate-middle badge bg-dark p-2">${item.advert_type}</div>
                    <div class="card-body">
                        <h5 class="card-title">${item.title}</h5>
                        <p class="card-text">${item.street_address}, ${item.city}</p>
                        <p class="card-text"><small class="text-dark">Price: ${item.price}</small></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Bedrooms <span class="badge bg-dark">${item.bedrooms}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Bathrooms <span class="badge bg-dark">${item.bathrooms}</span>
                        </li>
                    </ul>
                    <div class="card-body">
                        <a href="http://127.0.0.1:8000/property/${item.slug}" class="btn btn-orange rounded-pill py-2 px-3">See Details</a>
                    </div>
                </div>
            </div>
        `;
     }

     function updateCount(count) {
         const propertyContainer = document.getElementById('poperty');
         const products = propertyContainer.childElementCount;
         document.getElementById('count').innerHTML = `Showing ${products} of ${count} products`;
         document.getElementById('count-progress').style.width = `${(products / count) * 100}%`;
     }

     // Get the URL parameters
     const urlParams = new URLSearchParams(window.location.search);
     const status = urlParams.get('status');
     const query = urlParams.get('query');

     // Construct the fetching URL based on the parameters
     let fetchingUrl = 'http://127.0.0.1:8000/api/v1/properties/all';

     if (status || query) {
         fetchingUrl += '/?';
         if (status) {
             fetchingUrl += `advert_type=${status}`;
         }
         if (query) {
             fetchingUrl += `${status ? '&' : ''}city=${encodeURIComponent(query)}`;
         }
     }

     // Load more properties based on the fetching URL
     loadMore(fetchingUrl);



 </script>

 <!-- search -->
 <script>
     function filtersearch() {

         document.getElementById('poperty').innerHTML = '';
         console.log('Filter search button clicked');
         resetFilters();
         const url = 'http://127.0.0.1:8000/api/v1/properties/search/';

         const data = {
             "advert_type": getSelectedValues('advertype'),
             "property_type": getSelectedValues('propertype'),
             "pricegt": parseFloat(document.getElementById('minPrice').value) || 0,
             "pricelt": parseFloat(document.getElementById('maxPrice').value) || 99999999999999999999,
             "bedrooms": getSelectedValue('bedrooms'),
             "bathrooms": getSelectedValue('bathrooms'),
             "catch_phrase": document.getElementById('location').value
         };

         console.log('Input data:', data);

         const requestOptions = {
             method: 'POST',
             headers: {
                 'Content-Type': 'application/json',
             },
             body: JSON.stringify(data),
         };

         fetch(url, requestOptions)
             .then(response => {
                 if (!response.ok) {
                     throw new Error(`HTTP error! Status: ${response.status}`);
                 }
                 return response.json();
             })
             .then(data => {
                 if (Array.isArray(data) && data.length > 0) {
                     displayProperties(data);
                     updateCount(data.length);

                 } else {
                     document.getElementById('poperty').innerHTML = '<p>No results found.</p>';
                 }
             })
             .catch(error => {
                 console.error('Error:', error);
             });
     }

     function getSelectedValue(name) {
         const selectedOption = document.querySelector(`input[name="${name}"]:checked`);
         return selectedOption ? selectedOption.value : "0";
     }

     function getSelectedValues(name) {
         const selectedOptions = document.querySelectorAll(`input[name="${name}"]:checked`);
         return Array.from(selectedOptions).map(option => option.value);
     }

     function resetFilters() {
         // Reset checkboxes
         console.log("reset")
         document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
             checkbox.checked = false;
         });

         // Reset input fields
         document.getElementById('minPrice').value = '';
         document.getElementById('maxPrice').value = '';
         document.getElementById('location').value = '';
     }
 </script>

 <script>
     function filterByPropertyType(propertyType) {
         // Modify the fetchingUrl to include the property type filter
         const urlParams = new URLSearchParams(window.location.search);
         const status = urlParams.get('status');
         document.getElementById('poperty').innerHTML = '';
         let fetchingUrl = status ? `http://127.0.0.1:8000/api/v1/properties/all/?advert_type=${status}&property_type=${propertyType}` : `http://127.0.0.1:8000/api/v1/properties/all?property_type=${propertyType}`;

         // Call loadMore function with the modified fetchingUrl
         loadMore(fetchingUrl);
     }

     // Your other JavaScript code here...

 </script>


 {% endblock %}
