 {% extends './baseindex.html' %}
{% load static %}
 {% load i18n %}


{% block content %}


 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom mx-0 p-0 flex-column border-0">
     <div class="w-100 pb-lg-0 pt-lg-0 pt-4 pb-3">
         <div class="container-fluid d-flex justify-content-between align-items-center flex-wrap">
            <!-- Language Selector -->
<div class="w-100 d-flex justify-content-end">
    <form method="get" action="{% url 'website:set_language' %}" class="d-flex">
        <input type="hidden" name="next" value="{{ request.path }}">
        <button class="btn btn-link p-0 mx-1" type="submit" name="language" value="en" {% if LANGUAGE_CODE == 'en' %}disabled{% endif %}>
            <img src="{% static 'flags/us.gif' %}" alt="English" style="width: 15px; height: 15px;"><span> EN </span>  |
        </button>
        <button class="btn btn-link p-0 mx-1" type="submit" name="language" value="fr" {% if LANGUAGE_CODE == 'fr' %}disabled{% endif %}>
            <img src="{% static 'flags/fr.gif' %}" alt="Français" style="width: 15px; height: 15px;"> <span> FR </span> |
        </button>
        <button class="btn btn-link p-0 mx-1" type="submit" name="language" value="ar" {% if LANGUAGE_CODE == 'ar' %}disabled{% endif %}>
            <img src="{% static 'flags/dz.gif' %}" alt="العربية" style="width: 15px; height: 15px;"><span> AR</span>
        </button>
    </form>
</div>
<!-- / Language Selector -->

            
            <!-- Logo-->
             <a class="navbar-brand fw-bold fs-3 m-0 p-0 flex-shrink-0" href="{% url 'website:index' %}">
                 <!-- Start of Logo-->
                 <div class="d-flex align-items-center">
                     <div class="f-w-20 d-flex align-items-center me-2 lh-1">
                         <!-- SVG Logo Here --> LOGO
                     </div>
                     <span class="fs-5"></span>
                 </div>
                 <!-- / Logo-->
             </a>
             <!-- / Logo-->

             <!-- Main Navigation-->
             <div class="ms-5 flex-shrink-0 navbar-collapse navbar-collapse-light w-auto flex-grow-1 collapse" id="navbarNavDropdown" style="">
                 <!-- Mobile Nav Toggler-->
                 <button class="btn btn-link px-2 text-decoration-none navbar-toggler border-0 position-absolute top-0 end-0 mt-3 me-2 collapsed" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="{% trans 'Toggle navigation' %}">
                     <i class="ri-close-circle-line ri-2x"></i>
                 </button>
                 <!-- / Mobile Nav Toggler-->
                 <ul class="navbar-nav py-lg-2 mx-auto">
                     <li class="nav-item me-lg-4 dropdown position-static">
                         <a class="nav-link fw-bolder dropdown-toggle py-lg-4" role="button" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" href="{% url 'website:properties' %}?status=For Sale">{% trans 'Annonces' %}</a>
                         <div class="dropdown-menu dropdown-megamenu">
                             <div class="container">
                                 <div class="row g-0">
                                     <div class="col-12 col-lg-7">
                                         <div class="row py-lg-5">
                                             <div class="col col-lg-6 mb-5 mb-sm-0">
                                                 <h6 class="dropdown-heading">{% trans 'Vente' %}</h6>
                                                 <ul class="list-unstyled">
                                                     <li class="dropdown-list-item">
                                                         <a class="dropdown-item" href="{% url 'website:properties' %}?advert_type=For+Sale&property_type=Appartement-Villa-Local">Appartement-Villa-Local</a>
                                                     </li>
                                                     <li class="dropdown-list-item">
                                                         <a class="dropdown-item" href="{% url 'website:properties' %}?advert_type=For+Sale&property_type=Terrain-Hangar">Terrain-Hangar</a>
                                                     </li>
                                                     <!-- Add more combined filters as needed -->
                                                 </ul>
                                             </div>
                                             <div class="col col-lg-6 mb-5 mb-sm-0">
                                                 <h6 class="dropdown-heading">{% trans 'Location' %}</h6>
                                                 <ul class="list-unstyled">
                                                     <li class="dropdown-list-item">
                                                         <a class="dropdown-item" href="{% url 'website:properties' %}?advert_type=For+Rent&property_type=Bungalow-Usine-Hangar">Bungalow-Usine-Hangar</a>
                                                     </li>
                                                     <li class="dropdown-list-item">
                                                         <a class="dropdown-item" href="{% url 'website:properties' %}?advert_type=For+Rent&property_type=Appartement-Villa-Bungalow">Appartement-Villa-Bungalow</a>
                                                     </li>
                                                     <li class="dropdown-list-item">
                                                         <a class="dropdown-item" href="{% url 'website:properties' %}?advert_type=For+Rent&property_type=Local">Local</a>
                                                     </li>
                                                 </ul>
                                             </div>
                                             <div class="col-12 mt-4">
                                                 <h6 class="dropdown-heading">{% trans 'Annonces par localité' %}</h6>
                                                 <ul class="list-unstyled">
                                                     <li class="dropdown-list-item">
                                                         <a class="dropdown-item" href="{% url 'website:properties' %}?wilaya=Oran">Oran</a>
                                                     </li>
                                                     <li class="dropdown-list-item">
                                                         <a class="dropdown-item" href="{% url 'website:properties' %}?wilaya=Alger">Alger</a>
                                                     </li>
                                                     <li class="dropdown-list-item">
                                                         <a class="dropdown-item" href="{% url 'website:properties' %}?wilaya=Setif">Setif</a>
                                                     </li>
                                                 </ul>
                                             </div>
                                         </div>
                                     </div>
                                     <div class="d-none d-lg-block col-lg-5">
                                         <div class="vw-50 h-100 bg-img-cover bg-pos-center-center position-absolute" style="background-image: url({% static 'images/banners/testimonials-bg.jpg'%});"></div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </li>
                     <li class="nav-item me-lg-4">
                         <a class="nav-link fw-bolder py-lg-4" href="{% url 'website:properties' %}?status=for rent">{% trans 'Louer' %}</a>
                     </li>
                     <li class="nav-item me-lg-4">
                         <a class="nav-link fw-bolder py-lg-4" href="{% url 'website:sellproperty' %}">{% trans 'Vendre' %}</a>
                     </li>
                     <li class="nav-item me-lg-4">
                         <a class="nav-link fw-bolder py-lg-4" href="#map">{% trans 'À propos de nous' %}</a>
                     </li>
                     <li class="nav-item me-lg-4">
                         <a class="nav-link fw-bolder py-lg-4" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">{% trans 'Contactez-nous' %}</a>
                     </li>
                     <li class="nav-item me-lg-4" style="display: none" id="savedlink">
                         <a class="nav-link fw-bolder py-lg-4" href="/savedprope" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">{% trans 'Saved Properties' %}</a>
                     </li>
                 </ul>
             </div>
             <!-- / Main Navigation-->
             <!-- Navbar Icons-->
             <ul class="list-unstyled mb-0 d-flex align-items-center">
              
                 <!-- Navbar Search-->
                 <li class="ms-1 d-inline-block">
                     <button class="btn btn-link px-2 text-decoration-none d-flex align-items-center" data-pr-search="">
                         <i class="ri-search-2-line ri-lg align-middle"></i>
                     </button>
                 </li>
                 <!-- /Navbar Search-->
                 <!-- Navbar Wishlist-->
                 <li class="ms-1 d-none d-lg-inline-block">
                     <a class="btn btn-link px-2 py-0 text-decoration-none d-flex align-items-center" href="#">
                     </a>
                 </li>
                 <!-- /Navbar Wishlist-->

              <!-- Navbar Login/Logout-->
<li class="ms-1" id="auth-link">
    <a class="btn btn-link px-2 text-decoration-none d-flex align-items-center" href="/login">
        Login <i class="ri-user-line ri-lg align-middle"></i>
    </a>
</li>
<!-- /Navbar Login-->
                 <!-- Navbar Cart-->
                 <li class="ms-1 d-inline-block position-relative">
                 </li>
                 <!-- /Navbar Cart-->

                 <!-- Navbar Toggle Icon-->
                 <li class="d-inline-block d-lg-none">
                     <button class="btn btn-link px-2 text-decoration-none navbar-toggler border-0 d-flex align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                         <i class="ri-menu-line ri-lg align-middle"></i>
                     </button>
                 </li>
                 <!-- /Navbar Toggle Icon-->
             </ul>
             <!-- / Navbar Icons-->
         </div>
     </div>
 </nav>
 <script >


     document.addEventListener('DOMContentLoaded', ()=> {
         const authLink = document.getElementById('auth-link');
         const savedlink = document.getElementById('savedlink');

         function updateAuthLink() {
             const accessToken = localStorage.getItem('access_token');
             if (accessToken) {
                 savedlink.style.display="block"
                 authLink.innerHTML = `
 <a class="btn btn-link px-2 text-decoration-none d-flex align-items-center" href="/" id="logout">Logout <i class="ri-user-line ri-lg align-middle"></i></a>
 `;
                 document.getElementById('logout').addEventListener('click', function() {
                     localStorage.removeItem('access_token');
                     localStorage.removeItem('refresh_token');
                     updateAuthLink();
                 });
             } else {
                 savedlink.style.display="none"
                 authLink.innerHTML = `
 <a class="btn btn-link px-2 text-decoration-none d-flex align-items-center" href="/login" >Login <i class="ri-user-line ri-lg align-middle"></i></a>
 `;
             }
         }

         updateAuthLink();/*
         function redirectToListProducts(advertType, propertyType, locality) {
             const queryParams = new URLSearchParams({
                 advert_type: advertType,
                 property_type: propertyType,
             });

             if (locality && locality !== 'null') {
                 queryParams.append('wilaya', locality);
             }

             const redirectUrl = `/properties?${queryParams.toString()}`;
             window.location.href = redirectUrl;
         }

         // Add event listeners to the dropdown items
         document.querySelectorAll('.dropdown-item').forEach(item => {
             item.addEventListener('click', function(event) {
                 event.preventDefault();
                 const advertType = this.getAttribute('data-advert-type');
                 const propertyType = this.getAttribute('data-property-type');

                 redirectToListProducts(advertType, propertyType);
             });
         });*/
            });


 </script>

 <!-- / Navbar-->
{% block section %}

 {% endblock %}

 {% endblock %}


    <!-- Main Section-->


