 {% extends './pagesbase.html' %}
 {% load i18n %}

 {% load static %}
 {% block bannertitle %}
 {{ property.title }}
 {% endblock %}
{% block bannertext %}

 {{ property.description }}

 {% endblock %}

{% block section %}

<section class="mt-0  vh-lg-100">


    <!-- Page Content Goes Here -->
    <div class="container">
        <div class="row justify-content-center g-0 vh-lg-100">
            <div class="col-lg-7  ">
                <form id="propertyForm" enctype="multipart/form-data">
                    <!-- property type -->
                    {% csrf_token %}

                    <div class="step" style="min-height: 60vh; padding: 20px; background-color: #f9f9f9; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">

                    <div class="container py-5">
                        <div class="row justify-content-center">
                            <div class="col-lg-12">
                                    <!-- Step Content -->
                                    <div class="form-group">
                                        <label class="form-label" style="font-size: 1.25rem; font-weight: 500; margin-bottom: 20px;">Property Type</label>
                                        <div class="btn-group-toggle d-flex flex-wrap" data-toggle="buttons">
                                            <label class="btn btn-outline-dark property-label m-2" style="flex: 1 1 calc(33.333% - 1rem); max-width: calc(33.333% - 1rem); padding: 15px; text-align: center; border-width: 2px;">
                                                <i class="icon-building" style="font-size: 1.5rem;"></i>
                                                <input type="radio" class="btn-check" name="property_type" value="Appartement" autocomplete="off" onchange="changeColor(this)">
                                                <br>Apartment
                                            </label>
                                            <label class="btn btn-outline-dark property-label m-2" style="flex: 1 1 calc(33.333% - 1rem); max-width: calc(33.333% - 1rem); padding: 15px; text-align: center; border-width: 2px;">
                                                <i class="flaticon-house-1" style="font-size: 1.5rem;"></i>
                                                <input type="radio" class="btn-check" name="property_type" value="Villa" autocomplete="off" onchange="changeColor(this)">
                                                <br>Villa
                                            </label>
                                            <label class="btn btn-outline-dark property-label m-2" style="flex: 1 1 calc(33.333% - 1rem); max-width: calc(33.333% - 1rem); padding: 15px; text-align: center; border-width: 2px;">
                                                <i class="icon-map" style="font-size: 1.5rem;"></i>
                                                <input type="radio" class="btn-check" name="property_type" value="Terrain" autocomplete="off" onchange="changeColor(this); changePropertyType(this)">
                                                <br>Terrain
                                            </label>
                                            <label class="btn btn-outline-dark property-label m-2" style="flex: 1 1 calc(33.333% - 1rem); max-width: calc(33.333% - 1rem); padding: 15px; text-align: center; border-width: 2px;">
                                                <i class="flaticon-house-2" style="font-size: 1.5rem;"></i>
                                                <input type="radio" class="btn-check" name="property_type" value="Hangar" autocomplete="off" onchange="changeColor(this)">
                                                <br>Hangar
                                            </label>
                                            <label class="btn btn-outline-dark property-label m-2" style="flex: 1 1 calc(33.333% - 1rem); max-width: calc(33.333% - 1rem); padding: 15px; text-align: center; border-width: 2px;">
                                                <i class="flaticon-house-4" style="font-size: 1.5rem;"></i>
                                                <input type="radio" class="btn-check" name="property_type" value="Bungalow" autocomplete="off" onchange="changeColor(this)">
                                                    <br>Bungalow
                                            </label>
                                            <label class="btn btn-outline-dark property-label m-2" style="flex: 1 1 calc(33.333% - 1rem); max-width: calc(33.333% - 1rem); padding: 15px; text-align: center; border-width: 2px;">
                                                <i class="icon-industry" style="font-size: 1.5rem;"></i>
                                                <input type="radio" class="btn-check" name="property_type" value="Usine" autocomplete="off" onchange="changeColor(this)">
                                                <br>Usine
                                            </label>

                                            <label class="btn btn-outline-dark property-label m-2" style="flex: 1 1 calc(33.333% - 1rem); max-width: calc(33.333% - 1rem); padding: 15px; text-align: center; border-width: 2px;">
                                                <i class="icon-pencil " style="font-size: 1.5rem;"></i>
                                                <input type="radio" class="btn-check" name="property_type" value="Other" autocomplete="off" onchange="changeColor(this)">
                                                <br>Other
                                            </label>

                                        </div>

                                    </div>
                                    <!-- End Step Content -->
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-end">
                                    <button type="button" class="btn btn-orange next">Next</button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- advert type -->
                    <div class="step" style="min-height: 60vh;">
                        <!-- Step 2 Content -->
                        <div class="form-group">
                            <label class="form-label">Advert Type</label>
                            <div class="btn-group-toggle d-flex justify-content-center" data-toggle="buttons">
                                <label class="btn btn-outline-orange property-label">
                                    <input type="checkbox" name="advert_type" value="For Sale"> For Sale
                                </label>
                                <label class="btn btn-outline-orange property-label">
                                    <input type="checkbox" name="advert_type" value="For Rent"> For Rent
                                </label>

                            </div>
                        </div>
                        <div class="w-100 h-auto mt-10">
                            <button type="button" class="btn btn-white prev">Previous</button>
                            <button type="button" class="btn btn-orange next">Next</button>
                        </div>
                    </div>

                    <!-- prop info step -->
                    <div class="step" style="min-height: 60vh;">
                        <!-- Property Title -->
                        <div class="form-group">
                            <label for="title" class="form-label">Property Title</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="Enter property title" required>
                        </div>
                        <!-- Description -->
                        <div class="form-group">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter property description"></textarea>
                        </div>
                        <!-- Price -->
                        <div class="form-group">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" class="form-control" id="price" name="price" placeholder="Enter price" required>
                        </div>
                        <!-- / Price -->

                        <button type="button" class="btn btn-white prev">Previous</button>
                        <button type="button" class="btn btn-orange next">Next</button>
                    </div>

                    <!-- prop address step -->
                    <div class="step" style="min-height: 60vh;">
                        <!-- Wilaya -->
                        <div class="form-group">
                            <label for="wilaya" class="form-label">Wilaya</label>
                            <!-- Wilaya Dropdown -->
                            <div class="form-group mx-1 my-1">
                                <select id="wilaya" name="wilaya" class="form-select form-select-sm" >
                                    <option value="">{% trans 'Wilaya' %}</option>
                                </select>
                            </div>                        </div>
                        <!-- / Wilaya -->
                        <!-- Daira -->
                        <div class="form-group">
                            <label for="daira" class="form-label">Daira</label>
                            <div class="form-group mx-1 my-1">
                                <select id="daira" name="daira" class="form-select form-select-sm" >
                                    <option value="">{% trans 'Wilaya' %}</option>
                                </select>
                            </div>
                        </div>
                        <!-- / Daira -->
                        <!-- Commune -->
                        <div class="form-group">
                            <label for="commune" class="form-label">Commune</label>
                            <div class="form-group mx-1 my-1">
                                <select id="commune" name="commune" class="form-select form-select-sm" required>
                                    <option value="">{% trans 'Wilaya' %}</option>
                                </select>
                            </div>
                        </div>
                        <!-- / Commune -->
                        <!-- Postal Code -->
                        <div class="form-group">
                            <label for="postal_code" class="form-label">Postal Code</label>
                            <input type="text" class="form-control" id="postal_code" name="postal_code" placeholder="Enter postal code" required>
                        </div>
                        <!-- / Postal Code -->
                        <!-- Street Address -->
                        <div class="form-group">
                            <label for="street_address" class="form-label">Street Address</label>
                            <input type="text" class="form-control" id="street_address" name="street_address" placeholder="Enter street address" required>
                        </div>
                        <!-- / Street Address -->
                        <!-- Property Number -->
                        <div class="form-group">
                            <label for="property_number" class="form-label">Property Number</label>
                            <input type="number" class="form-control" id="property_number" name="property_number" placeholder="Enter property number" required>
                        </div>
                        <!-- / Property Number -->

                        <button type="button" class="btn btn-white prev">Previous</button>
                        <button type="button" class="btn btn-orange next">Next</button>
                    </div>

                    <!-- prop details step -->
                    <div class="step" style="min-height: 60vh;">
                        <!-- Plot Area -->
                        <div class="form-group">
                            <label for="plot_area" class="form-label">Plot Area(m^2)</label>
                            <input type="number" class="form-control" id="plot_area" name="plot_area" placeholder="Enter plot area" required>
                        </div>
                        <!-- / Plot Area -->
                        <!-- Total Floors -->
                        <div class="form-group">
                            <label for="total_floors" class="form-label">Number of Floors</label>
                            <input type="number" class="form-control" id="total_floors" name="total_floors" placeholder="Enter total floors" required>
                        </div>
                        <!-- / Total Floors -->
                        <!-- Bedrooms -->
                        <div class="form-group">
                            <label for="bedrooms" class="form-label">Bedrooms</label>
                            <input type="number" class="form-control" id="bedrooms" name="bedrooms" placeholder="Enter number of bedrooms" required>
                        </div>
                        <!-- / Bedrooms -->
                        <!-- Bathrooms -->
                        <div class="form-group">
                            <label for="bathrooms" class="form-label">Bathrooms</label>
                            <input type="number" class="form-control" id="bathrooms" name="bathrooms" placeholder="Enter number of bathrooms" required>
                        </div>
                        <!-- / Bathrooms -->
                        <button type="button" class="btn btn-white prev">Previous</button>
                        <button type="button" class="btn btn-orange next">Next</button>
                    </div>

                    <!-- prop info step -->
                    <div class="step" style="min-height: 60vh;">
                        <!-- Cover Photo -->
                        <div class="form-group">
                            <label for="cover_photo" class="form-label">Cover Photo</label>
                            <input type="file" class="form-control" id="cover_photo" name="cover_photo">
                        </div>
                        <!-- / Cover Photo -->
                        <!-- Video -->
                        <div class="form-group">
                            <label for="video" class="form-label">Video</label>
                            <input type="file" class="form-control" id="video" name="video">
                        </div>
                        <!-- / Video -->
                        <!-- Photos -->
                        <div class="form-group">
                            <label for="photos" class="form-label">Photos</label>
                            <input type="file" class="form-control" id="photos" name="photos" multiple>
                            <small class="form-text text-muted">Tap to select multiple photos.</small>
                        </div>
                        <!-- / Photos -->
                        <button type="button" class="btn btn-white prev">Previous</button>
                        <button type="submit" class="btn btn-orange">Submit</button>
                    </div>
                    <!-- Additional steps go here -->
                </form>
            </div>
        </div>
    </div>


    <!-- Success message -->
    <div id="successMessage" style="display: none;">
        Property saved successfully!
    </div>

    <!-- Failure message -->
    <div id="failureMessage" style="display: none;">
        There was a problem saving the property. Please try again later.
    </div>

    <!-- /Page Content -->
    </section>

{% endblock %}
{% block scripts %}
 <script>
     document.addEventListener("DOMContentLoaded", function () {
         initializeLocationSelectors();
         const propertyForm = document.getElementById("propertyForm");
         const loader = document.getElementById("loader-overlay");
         const successMessage = document.getElementById("successMessage");
         const failureMessage = document.getElementById("failureMessage");
         const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

         propertyForm.addEventListener("submit", async function (event) {
             event.preventDefault();

             const formData = new FormData(propertyForm);
             const photosInput = document.getElementById("photos");
             const photos = photosInput.files;

             // Show loader
             loader.style.display = "block";

             // Append each photo to formData
             for (let i = 0; i < photos.length; i++) {
                 formData.append("photos", photos[i]);
             }
             let accessToken = localStorage.getItem('access_token');
             function fetchcreate(token){
                 return fetch("http://127.0.0.1:8000/api/v1/properties/create/", {
                     method: "POST",
                     headers: {
                         'Authorization': 'Bearer ' + token,
                         'X-CSRFToken': csrfToken
                     },
                     body: formData
                 })
                     .then(response => {
                         if (!response.ok) {
                             throw new Error("Network response was not ok");
                         }
                         return response.json();
                     })
                     .then(data => {
                         console.log("Property saved successfully:", data);
                         // Hide loader
                         loader.style.display = "none";
                         // Show success message
                         successMessage.style.display = "block";
                         // Redirect or perform any other action as needed
                         window.location.href = "/propertysaved";
                     })
                     .catch(error => {
                         console.error("There was a problem saving the property:", error.message);
                         // Hide loader
                         loader.style.display = "none";
                         // Show failure message
                         failureMessage.style.display = "block";
                         // Handle errors here
                     });
             }
             let response = await fetchcreate(accessToken);
             if (response.status === 401) { // If token is invalid or expired
                 accessToken = await refreshToken(); // Attempt to refresh token
                 response = await fetchcreate(accessToken);
             }
         });
     });
 </script>


 <script>
     // JavaScript for multi-step form
     const prevBtns = document.querySelectorAll('.prev');
     const nextBtns = document.querySelectorAll('.next');
     const steps = document.querySelectorAll('.step');

     let currentStep = 0;

     function showStep(stepIndex) {
         steps.forEach((step, index) => {
             if (index === stepIndex) {
                     window.scrollTo(0, 0);

                 step.style.display = 'block';
             } else {
                 step.style.display = 'none';
             }
         });
     }

     function goToNextStep() {
         currentStep++;
         if (currentStep >= steps.length) {
             currentStep = steps.length - 1;
         }
         showStep(currentStep);
     }

     function goToPrevStep() {
         currentStep--;
         if (currentStep < 0) {
             currentStep = 0;
         }
         showStep(currentStep);
     }

     prevBtns.forEach(btn => {
         btn.addEventListener('click', goToPrevStep);

     });

     nextBtns.forEach(btn => {
         btn.addEventListener('click', goToNextStep);
     });

     showStep(currentStep);
 </script>
 {% endblock %}
